<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../js/serializejson.js"></script>
    <script src="../redactor/redactor.min.js"></script>
    <script src="../redactor/plugins/all.js"></script>
    <link rel="stylesheet" href="../redactor/redactor.css">
</head>


<body>

    {{{body}}}

</body>

</html>