<h1>hello</h1>

<form id="form" enctype="multipart/form-data" action="/api/posts" method="post">
    <input type="title" name="title">
    <textarea name="content" id="content"></textarea>
    <input type="file" name="upload">
    <input type="submit">
</form>

<script>
    $(document).ready(function() {

        $('textarea').redactor({
            focus: true,
            imageUpload: '/upload',
            imageManagerJson: '/uploads/imagelist.json',
            fileUpload: '/upload',
            fileManagerJson: '/uploads/filelist.json',
            plugins: ['table', 'video', 'imagemanager', 'filemanager']
        });

    });
</script>