{{> carousel}}

<h1>hello</h1>

<form id="form" enctype="multipart/form-data" action="/posts" method="post">
    <input type="title" name="title">
    <textarea name="content" id="content"></textarea>
    <input type="submit">
</form>