{{!-- Page Heading --}}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Post</h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Forms
            </li>
        </ol>
    </div>
</div>

{{!-- Content --}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Post</h3>
            </div>
            <div class="panel-body">

                <form role="form" id="form" enctype="multipart/form-data" action="/admin/posts/{{{post.simpleTitle}}}" method="post">

                    <div class="form-group">
                        <label>Post Title</label>
                        <input class="form-control" type="title" name="title" value="{{post.title}}">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>

                    <div class="form-group">
                        <label>Text area</label>
                        <textarea class="form-control" rows="10" name="content" id="content">
                            {{{post.content}}}
                        </textarea>
                    </div>

                    <button type="submit" class="btn btn-default ">Update Post</button>
                    <a href="#" value="{{post.simpleTitle}}" id="deletePost" class="btn btn-danger">Delete Post</a>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->