@import 'nib'

// Custom navigation styling

.navbar-custom
    background-color black
    border-bottom none
    margin-bottom 0

    .navbar-header

        a
            color #fff

    ul.nav
        li
            a
                color #fff

// Custom Carousel styling

.carousel-control
    display none

.carousel-caption
    > p
        animation-duration: 3s
        animation-delay: 1s
